VITE_API_BASE_URL=http://localhost:3000/api/v1
VITE_API_PROXY_TARGET=http://127.0.0.1:3000
VITE_FEATURE_MESSAGES=false
VITE_FEATURE_MOSQUEE=false
VITE_FEATURE_STUDENT_PORTAL=false
VITE_FEATURE_USER_BILLING=false
